[Unit]
Description=Start auto-suspend in daemon mode

[Service]
Type=idle
ExecStart=/usr/sbin/auto-suspend daemon

[Install]
WantedBy=multi-user.target
